..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbKegg_*.tar.gz
biodbKegg_*.tgz
biodbKegg.Rcheck
cache
cache*
check.Renviron
doc
Meta
src-i386
src-x64
src/*.rds
tests/*/output
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
