..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbKegg_*.tar.gz
biodbKegg_*.tgz
biodbKegg.Rcheck
cache
doc
man
Meta
src-i386
src-x64
src/*.rds
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
